/* .ritz .waffle a { 
    color: inherit; 
} */
.ritz .waffle .s10{
    background-color:#ffffff;
    text-align:center;
    color:#000000;
    font-family:'docs-Calibri',Arial;
    font-size:10pt;
    vertical-align:top;
    white-space:normal;
    overflow:hidden;
    word-wrap:break-word;
    direction:ltr;
    padding:2px 3px 2px 3px;
}
.ritz .waffle .s11{
    border-bottom:1px SOLID #000000;
    border-right:1px SOLID #000000;
    border-left:1px SOLID #000000;
    background-color:#d9d2e9;
    text-align:center;
    color:#000000;
    font-family:'docs-Calibri',Arial;
    font-size:10pt;
    vertical-align:top;
    white-space:normal;
    overflow:hidden;
    word-wrap:break-word;
    direction:ltr;
    padding:2px 3px 2px 3px;
}
.ritz .waffle .s7{
    border-bottom:1px SOLID #000000;
    border-right:1px SOLID #000000;
    background-color:#fff2cc;
    text-align:center;
    text-decoration:underline;
    -webkit-text-decoration-skip:none;
    text-decoration-skip-ink:none;
    color:#1155cc;
    font-family:'docs-Calibri',Arial;
    font-size:10pt;
    vertical-align:top;
    white-space:normal;
    overflow:hidden;
    word-wrap:break-word;
    direction:ltr;
    padding:2px 3px 2px 3px;
}
.ritz .waffle .s8{
    border-bottom:1px SOLID #000000;
    border-right:1px SOLID #000000;
    border-left:1px SOLID #000000;
    background-color:#b6d7a8;
    text-align:center;
    color:#000000;
    font-family:'docs-Calibri',Arial;
    font-size:10pt;
    vertical-align:top;
    white-space:normal;
    overflow:hidden;
    word-wrap:break-word;
    direction:ltr;
    padding:2px 3px 2px 3px;
}
.ritz .waffle .s4{border-bottom:1px SOLID #000000;border-right:1px SOLID #000000;background-color:#d8d8d8;text-align:center;color:#000000;font-family:'docs-Calibri',Arial;font-size:10pt;vertical-align:top;white-space:normal;overflow:hidden;word-wrap:break-word;direction:ltr;padding:2px 3px 2px 3px;}
.ritz .waffle .s13{border-right:1px SOLID #000000;background-color:#f4cccc;text-align:center;color:#000000;font-family:'docs-Calibri',Arial;font-size:10pt;vertical-align:top;white-space:normal;overflow:hidden;word-wrap:break-word;direction:ltr;padding:2px 3px 2px 3px;}
.ritz .waffle .s9{border-bottom:1px SOLID #000000;border-right:1px SOLID #000000;background-color:#ffffff;text-align:center;color:#000000;font-family:'docs-Calibri',Arial;font-size:10pt;vertical-align:top;white-space:normal;overflow:hidden;word-wrap:break-word;direction:ltr;padding:2px 3px 2px 3px;}
.ritz .waffle .s12{
    border-bottom:1px SOLID #000000;
    border-right:1px SOLID #000000;
    border-left:1px SOLID #000000;
    background-color:#f4cccc;
    text-align:center;
    color:#000000;
    font-family:'docs-Calibri',Arial;
    font-size:10pt;
    vertical-align:top;
    white-space:normal;
    overflow:hidden;
    word-wrap:break-word;
    direction:ltr;
    padding:2px 3px 2px 3px;
}
.ritz .waffle .s3{
    border-bottom:1px SOLID #000000;
    border-right:1px SOLID #000000;
    border-left:1px SOLID #000000;
    background-color:#ffffff;
    text-align:center;
    color:#000000;
    font-family:'docs-Calibri',Arial;
    font-size:10pt;
    vertical-align:top;
    white-space:normal;
    overflow:hidden;
    word-wrap:break-word;
    direction:ltr;
    padding:2px 3px 2px 3px;
}
.ritz .waffle .s0{
    border-bottom:1px SOLID #000000;
    border-right:1px SOLID #000000;
    border-left:1px SOLID #000000;
    border-top:1px SOLID #000000;
    background-color:#1155cc;
    text-align:center;
    font-weight:bold;
    color:#ffffff;
    font-family:'docs-Calibri',Arial;
    font-size:10pt;
    vertical-align:top;
    white-space:nowrap;
    direction:ltr;
    padding:2px 3px 2px 3px;
}
.ritz .waffle .s1{
    border-bottom:1px SOLID #000000;
    background-color:#1155cc;
    text-align:center;
    font-weight:bold;
    color:#ffffff;
    font-family:'docs-Calibri',Arial;
    font-size:10pt;
    vertical-align:top;
    white-space:nowrap;
    direction:ltr;
    padding:2px 3px 2px 3px;
}
.ritz .waffle .s6{
    border-bottom:1px SOLID #000000;
    border-right:1px SOLID #000000;
    border-left:1px SOLID #000000;
    background-color:#fff2cc;
    text-align:center;
    color:#000000;
    font-family:'docs-Calibri',Arial;
    font-size:10pt;
    vertical-align:top;
    white-space:normal;
    overflow:hidden;
    word-wrap:break-word;
    direction:ltr;
    padding:2px 3px 2px 3px;
}
.ritz .waffle .s14{background-color:#f4cccc;text-align:center;color:#000000;font-family:'docs-Calibri',Arial;font-size:10pt;vertical-align:top;white-space:normal;overflow:hidden;word-wrap:break-word;direction:ltr;padding:2px 3px 2px 3px;}
.ritz .waffle .s5{
    border-bottom:1px SOLID #000000;
    border-right:1px SOLID #000000;
    border-left:1px SOLID #000000;
    background-color:#cfe2f3;
    text-align:center;
    color:#000000;
    font-family:'docs-Calibri',Arial;
    font-size:10pt;
    vertical-align:top;
    white-space:normal;
    overflow:hidden;
    word-wrap:break-word;
    direction:ltr;
    padding:2px 3px 2px 3px;
}
.ritz .waffle .s2{
    border-bottom:1px SOLID #000000;
    border-right:1px SOLID #000000;
    border-left:1px SOLID #000000;
    background-color:#d9d9d9;
    text-align:center;
    color:#000000;
    font-family:'docs-Calibri',Arial;
    font-size:10pt;
    vertical-align:top;
    white-space:normal;
    overflow:hidden;
    word-wrap:break-word;
    direction:ltr;padding:2px 3px 2px 3px;}

